.skills__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  width: 10rem;
  height: auto;
  padding: 0 0.5rem;
  filter: brightness(70%) grayscale(1);
  transition: filter 1000ms;
  cursor: pointer;
}

.skills__card:hover {
  filter: brightness(100%) grayscale(0);
}

.skills__card p {
  font-size: 1.2rem;
  font-weight: 400;
  word-wrap: break-word;
}

.skills__card i {
  width: 100%;
}
