/* Globales */
:root {
  --background-primary: #081b29;
  --background-alterno: #0b2436;
  --background-secondary: #00abf0;
  --color-text: #ededed;
  --poppins: "Poppins", sans-serif;
  --warning-color: #df2525;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--color-text);
  font-family: var(--poppins);
}

@keyframes showRight {
  100% {
    width: 0;
  }
}
/* Cabecera */

.cabecera {
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--poppins);
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1060px) {
  .cabecera {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    z-index: 100;
    width: 100%;
  }
}

.cabecera__item {
  list-style: none;
  padding-right: 1rem;
}

.cabecera__link {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
}

.cabecera__link:hover {
  color: var(--background-secondary);
  transition: 0.5s;
}

.cabecera__lista {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1060px) {
  .cabecera__lista {
    flex-direction: column;
    padding-bottom: 0.5rem;
  }
}

.cabecera__titulo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
  padding-left: 1rem;
}

.cabecera__titulo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-primary);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

/* Presentacion */
.presentacion {
  height: auto;
  background-color: var(--background-primary);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

@media screen and (min-width: 1340px) {
  .presentacion {
    background-image: url("/assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.presentacion__contenido {
  position: relative;
  max-width: 600px;
}

.presentacion__contenido::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-primary);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

@media screen and (min-width: 1340px) {
  .presentacion__hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 1.5s;
  }

  .presentacion__hover:hover {
    background-color: var(--background-primary);
    opacity: 0.7;
  }
}

.presentacion__item {
  list-style: none;
}

@media screen and (max-width: 550px) {
  .presentacion__item {
    padding-bottom: 0.5rem;
  }
}

.presentacion__link {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

.presentacion__link:hover {
  color: var(--background-secondary);
  transition: 0.7s;
}

.presentacion__lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

@media screen and (max-width: 550px) {
  .presentacion__lista {
    flex-direction: column;
  }
}

.presentacion__subtitulo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--background-secondary);
}

.presentacion__texto {
  font-size: 1.3rem;
}

.presentacion__titulo {
  font-size: 2rem;
  font-weight: 700;
}

/* Sobre Mi */

.sobre {
  height: 50vh;
  background-color: var(--background-alterno);
}

@media screen and (max-width: 1200px) {
  .sobre {
    height: auto;
    padding-bottom: 2rem;
  }
}

.sobre__contenido {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

@media screen and (max-width: 1200px) {
  .sobre__contenido {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.sobre__imagen {
  max-width: 20rem;
  min-width: 20rem;
  width: 100%;
  height: auto;
  padding-left: 2rem;
  border-radius: 100%;
}

.sobre__imagen:hover {
  opacity: 0.8;
  transition: 1s;
}

.sobre__texto {
  max-width: 900px;
  font-size: 1.3rem;
}

.sobre__titulo {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 2rem;
}

/* Skills */

.skills {
  background-color: var(--background-primary);
  height: auto;
  padding-bottom: 3rem;
}

.skills__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  width: 10rem;
  height: auto;
  padding: 0 0.5rem;
  filter: brightness(70%) grayscale(1);
  transition: filter 1000ms;
  cursor: pointer;
}

.skills__card:hover {
  filter: brightness(100%) grayscale(0);
}

.skills__card p {
  font-size: 1.2rem;
  font-weight: 400;
  word-wrap: break-word;
}

.skills__card i {
  width: 100%;
}

.skills__pasatiempos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.skills__programacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 5%;
  padding-right: 5%;
}

.skills__titulo {
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

/* Formacion */

.formacion {
  background-color: var(--background-alterno);
  height: auto;
  padding-bottom: 3rem;
}

.formacion__card {
  padding: 0;
  display: flex;
  flex-direction: column;
  filter: brightness(70%) grayscale(1);
  transition: filter 1000ms;
  cursor: pointer;
}

.formacion__card:hover {
  filter: brightness(100%) grayscale(0);
}

.formacion__card-contenido {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  word-wrap: break-word;
}

.formacion__subtitulo {
  font-size: 1rem;
}

.formacion__contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding-left: 5%;
  padding-right: 5%;
}

.formacion__imagen {
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px #000;
}

.formacion__titulo {
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

/* Experiencia */
.experiencia {
  background-color: var(--background-primary);
  height: auto;
}

.experiencia__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.experiencia__card:nth-child(2n + 1) {
  flex-direction: row;
}

.experiencia__card:nth-child(2n) {
  flex-direction: row-reverse;
}

.experiencia__card-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.experiencia__imagen {
  max-width: 60rem;
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px #000;
  filter: brightness(45%) grayscale(1);
  transition: filter 1000ms;
  cursor: pointer;
  margin-bottom: 1rem;
}

.experiencia__imagen:hover {
  filter: brightness(100%) grayscale(0);
}

.experiencia__boton {
  border: 1px solid #2e518b;
  padding: 0.8rem;
  background-color: #181717;
  color: var(--color-texto);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 400ms;
}

.experiencia__boton:hover {
  background-color: transparent;
  border: 1px solid #fefefe;
}

@media screen and (max-width: 1190px) {
  .experiencia__card {
    flex-direction: column;
  }
  .experiencia__card:nth-child(2n + 1) {
    flex-direction: column;
  }
  .experiencia__card:nth-child(2n) {
    flex-direction: column;
  }
}

.experiencia__titulo {
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

/* Contacto */

.contacto {
  background-color: var(--background-alterno);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

@media screen and (max-width: 940px) {
  .contacto {
    flex-direction: column;
  }
}

.contacto__formulario {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.contacto__imagen {
  max-width: 30rem;
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px #000;
  margin: 1rem;
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.contacto__label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.25s;
}

.contacto__input {
  padding: 2rem 1rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #d6eaff;
  height: 3.25rem;
  color: var(--color-text);
}

.contacto__input:not(:placeholder-shown) + .contacto__label,
.contacto__area:not(:placeholder-shown) + .contacto__label,
.contacto__input:focus + .contacto__label,
.contacto__area:focus + .contacto__label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.contacto__input::placeholder {
  visibility: hidden;
  color: var(--background-alterno);
}

.contacto__input::focus {
  outline: none;
}

.contacto__area {
  background-color: var(--background-alterno);
  width: 100%;
  height: 10rem;
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  color: var(--color-text);
}

.contacto__area::placeholder {
  visibility: hidden;
  color: var(--background-alterno);
}

.contacto__boton {
  height: 3rem;
  background-color: #181717;
  color: var(--color-text);
  border: 1px solid #2e518b;
  border-radius: 5px;
  text-transform: uppercase;
  width: 25%;
  cursor: pointer;
  transition: 400ms;
}

.contacto__boton:hover {
  background-color: transparent;
  border: 1px solid #fefefe;
}

.input-container--invalid {
  margin-bottom: 0.5rem;
}

.input-container--invalid .contacto__input,
.input-container--invalid .contacto__area {
  border: 1px solid var(--warning-color);
  border-radius: 7px;
}

.input-container--invalid .contacto__label {
  color: var(--warning-color);
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: var(--warning-color);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.footer {
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin-bottom: 0.2rem;
  opacity: 0.7;
}
