.presentacion__contenido {
  position: relative;
  max-width: 600px;
}

.presentacion__contenido::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background-primary);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}
