.presentacion__lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

@media screen and (max-width: 550px) {
  .presentacion__lista {
    flex-direction: column;
  }
}
