.presentacion__link {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

.presentacion__link:hover {
  color: var(--background-secondary);
  transition: 0.7s;
}
