.sobre__contenido {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

@media screen and (max-width: 1200px) {
  .sobre__contenido {
    flex-direction: column;
  }
}
